
<!DOCTYPE html>
<html lang="en, ru, ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>Libraries</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>
<body style="padding: 40px">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
<div>
    <table border="1" class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">NAME</th>
            <th scope="col">CITY</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="lib, s : ${librariesAll}">
            <td th:text="${s.count}">Onions</td>
            <td th:text="${lib.name}">Onions</td>
            <td th:text="${lib.city}">2.41</td>
            <td class="d-table-cell" >
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                    Add a new book
                </button>
                <div style="float: right">
                <form class="button" th:action="@{libraries/show_lib}" th:method="post">
                    <input type="hidden" th:name="id" th:value="${lib.id}"/>
                    <input type="submit" value="Show"/>
                </form>
                </div>
            </td>
            <td class="d-table-cell">

                <form class="button" th:action="@{libraries/remove_library}" th:method="post">
                    <input type="hidden" th:name="id" th:value="${lib.id}"/>
                    <input type="submit" value="x"/>
                </form>
            </td>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Adding a new book</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/libraries/new_book}" th:method="post" id="newBook"
                                  th:name="newBook">
                                <div class="form-group">
                                    <label for="name" class="col-form-label">Name of the book:</label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                                </div>
                                <input type="hidden" th:name="idLib" th:value="${lib.id}"/>
                                <div class="container" th:object="${authorsAll}">
                                    <label for="authorSelect">Select an author</label>
                                    <select class="form-control" id="authorSelect" name="idAuthor" form="newBook" required>
                                        <option th:each="author : ${authorsAll}"
                                                th:name="idAuthor"
                                                th:value="${author.id}"
                                                th:text="${author.firstName}+' '+${author.lastName}">
                                        </option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" onclick="form_submit() " class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
    </table>
</div>
<a href="/libraries/new_lib">Create new library</a>



<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        //let button = $(event.relatedTarget) // Button that triggered the modal
        //let recipient = button.data('whatever') // Extract info from data-* attributes
        // let modal = $(this)
    });

    function form_submit() {
        document.getElementById("newBook").submit();
    }
</script>
</body>
</html>