
<!DOCTYPE html>
<html lang="en, ru, ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>Libraries</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="padding: 40px">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div>
    <table border="1" class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">NAME</th>
            <th scope="col">CITY</th>
            <th></th>
        </tr>
        <tr th:each="library, s : ${librariesAll}">
            <td th:text="${s.count}">Onions</td>
            <td th:text="${library.name}">Onions</td>
            <td th:text="${library.city}">2.41</td>
            <td class="btn-link" style="cursor: pointer">x</td>
        </tr>
    </table>
</div>
<a href="/libraries/new_lib">Create new library</a>
</body>
</html>